# 00. Table of contents
 - Importing libraries
 - Importing Dataset
 - Merging dfs: orders_products_merged + customers

# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing datasets

In [2]:
path = r'C:\Users\viki\Documents\Data Analytics\Immersion\Achievement 4\Instacart Basket Analysis'

In [3]:
ords_prods_merge= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_for_final_merge.pkl'))
df_customers= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_for_final_merge.pkl'))

In [4]:
ords_prods_merge.shape

(32404859, 23)

In [5]:
df_customers.shape

(206209, 10)

In [6]:
#merging the two dfs on user_id
ords_prods_cust_merged = ords_prods_merge.merge(df_customers, on = 'user_id')

In [7]:
ords_prods_cust_merged.shape

(32404859, 32)

In [8]:
ords_prods_cust_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,frequency_flag,First Name,Surname,Gender,State,Age,date_joined,n_dependants,fam_status,Income
0,2539329,1,1,2,8,11.0,196,1,0,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

# Exporting merged dataset

In [ ]:
ords_prods_cust_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_cust_merged.pkl'))